In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier,export_text
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,551,15806307,Trevisano,720,Spain,Male,38,5,114051.97,2,0,1,107577.29,0
1,6897,15709621,Martin,682,France,Female,54,4,62397.41,1,1,0,113088.60,1
2,4588,15619340,Palmer,672,France,Female,31,5,119903.67,1,1,1,132925.17,0
3,291,15620746,Napolitani,592,Spain,Female,40,4,104257.86,1,1,0,110857.33,0
4,1673,15646372,Yao,753,Spain,Male,42,5,120387.73,1,0,1,126378.57,0

In [4]:
dy_train=df['Exited']

In [5]:
dx=df[['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]
dx_train=pd.get_dummies(dx,columns=['Geography','Gender'])
feature_names=list(dx_train.columns)
dx_train_std=StandardScaler().fit_transform(dx_train)
dx_train_std[0]

array([ 1.50990612, -0.66372051,  0.33993266,  0.42897762,  0.79954644,
       -1.53758628,  0.96680078,  0.30492684, -1.00150113, -0.5808144 ,
        1.74601919, -0.9111777 ,  0.9111777 ])

In [6]:
df_test=pd.read_csv('test.csv')
dx2=df_test[['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary']]
dx_test=pd.get_dummies(dx2,columns=['Geography','Gender'])
dx_test_std=StandardScaler().fit_transform(dx_test)
dx_test_std

array([[ 1.60918292, -0.50845629, -1.22234594, ..., -0.57812007,
         1.09003844, -1.09003844],
       [ 0.5281284 , -0.11251369, -1.22234594, ..., -0.57812007,
        -0.91739884,  0.91739884],
       [-1.40113814, -1.16836063,  1.18463654, ..., -0.57812007,
        -0.91739884,  0.91739884],
       ...,
       [-1.35124331,  0.41540978, -1.22234594, ..., -0.57812007,
         1.09003844, -1.09003844],
       [-0.45313648,  0.15144805,  1.98696404, ...,  1.72974448,
         1.09003844, -1.09003844],
       [-0.23692557, -1.43232236,  0.38230905, ..., -0.57812007,
         1.09003844, -1.09003844]])

In [7]:
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(dx_train_std,dy_train)

KNeighborsClassifier(n_neighbors=3)

In [8]:
prediction_knn=knn.predict(dx_test_std)
df_knn_out=pd.DataFrame({
    "RowNumber":df_test['RowNumber'],
    "Exited":prediction_knn
})
df_knn_out.to_csv('knn_sample2.csv')
#acc: 0.8500
#precision: 0.6271
#fScore: 0.5522

In [9]:
log_reg=LogisticRegression()
log_reg.fit(dx_train_std,dy_train)

LogisticRegression()

In [10]:
prediction_log=log_reg.predict(dx_test_std)
df_log_out=pd.DataFrame({
    "RowNumber":df_test['RowNumber'],
    "Exited":prediction_log
})
df_log_out.to_csv('log_sample2.csv')

In [11]:
nonlinear_svm=SVC(C=10,gamma=0.01,kernel='rbf')
nonlinear_svm.fit(dx_train_std,dy_train)

SVC(C=10, gamma=0.01)

In [12]:
prediction_svm=nonlinear_svm.predict(dx_test_std)
df_svm_out=pd.DataFrame({
    "RowNumber":df_test['RowNumber'],
    "Exited":prediction_svm
})
df_svm_out.to_csv('svm_sample2.csv')
#acc: 0.8700
#precision: 0.7674
#fScore: 0.5593

In [13]:
tree=DecisionTreeClassifier()
tree.fit(dx_train_std,dy_train)

DecisionTreeClassifier()

In [14]:
prediction_tree=tree.predict(dx_test_std)
df_tree_out=pd.DataFrame({
    "RowNumber":df_test['RowNumber'],
    "Exited":prediction_tree
})
df_tree_out.to_csv('tree_sample2.csv')
#acc: 0.8150
#precision: 0.5062
#fScore: 0.5256

In [15]:
forest=RandomForestClassifier()
forest.fit(dx_train_std,dy_train)

RandomForestClassifier()

In [16]:
prediction_forest=forest.predict(dx_test_std)
df_forest_out=pd.DataFrame({
    "RowNumber":df_test['RowNumber'],
    "Exited":prediction_forest
})
df_forest_out.to_csv('forest_sample2.csv')
#acc: 0.8600
#precision: 0.6792
#fScore: 0.5625